<div class="center container">
    <% if logged_in? %>
        <div class="split left">
            <div class="centered">
                <div class="img-div">
                    <%= get_img(current_user) %>
                </div>
                <h2><%= current_user.name %></h2>
                <%= link_to "Following "+current_user.following.count.to_s, following_user_path(current_user) %>
                <%= link_to "Followers "+current_user.followers.count.to_s, followers_user_path(current_user) %>
                <p><%= link_to "Words Learned "+total(current_user).to_s, lessons_path(id: current_user.id) %></p>
            </div>
        </div>
        <div class="split right"> 
            <div class="centered">
                This is the Newsfeed
            </div>
        </div>
    <% else %>
        <div class="jumbotron">
            <%= link_to "Sign up", signup_path , class: "btn btn-lg btn-primary" %>      
        </div>
    <% end %>
</div>