<div class="container">
    <% if logged_in? %>
        <div class="split left">
            <div class="centered">
                <div class="img-div">
                    <%= get_img(current_user) %>
                </div>
                <h2><%= current_user.name %></h2>
                <%= link_to "Following #{current_user.following.count}", following_user_path(current_user) %>
                <%= link_to "Followers #{current_user.followers.count}", followers_user_path(current_user) %>
                <p><%= link_to "Words Learned #{total(current_user)}", lessons_path(id: current_user.id) %></p>
            </div>
        </div>
        <div class="split right">
            <h1>Activities</h1>
            <% unless @activities.empty? %>
                <%= will_paginate @activities %>
                <ul class="list-group">
                    <% @activities.each do |activity| %>
                        <li class="list-group-item">
                            <p class="float-right"><%= distance_of_time_in_words(Time.now, activity.action.created_at, include_seconds: true) %> ago</p>
                            <% if activity.action.instance_of?(Relationship) %>
                                <p><%= activity.user.name %> followed <%= link_to activity.action.followed.name, activity.action.followed, class: 'label label-primary' %></p>
                            <% else %>
                                <p><%= "#{activity.user.name} learned #{pluralize(activity.action.answers.count, 'word')} in " %> <%= link_to activity.action.category.title, activity.action, class: 'label label-warning' %></p>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
                <%= will_paginate @activities %>
            <% else %>
                <div class="centered jumbotron">
                    <h2>Nothing to show</h2>
                </div>
            <% end %>
        </div>
    <% else %>
        <div class="jumbotron">
            <%= link_to "Sign up", signup_path , class: "btn btn-lg btn-primary" %>      
        </div>
    <% end %>
</div>