<%= render 'shared/headboard', user: @user %>
<%= render 'shared/profile_nav', user: @user %>

<% provide(:title, @title) %>
<h1 class="center"><%= @title %></h1>

<%= will_paginate %>

<ul class="users list-group">
    <% @users.each do |user| %>
        <%= link_to user do %>
            <li class="list-group-item">
                <div class="img-users-list">
                    <%= get_img(user) %>
                </div>
                <p>
                    <%= user.name %>
                </p>
            </li>
        <% end %>
    <% end %>
</ul>

<%= will_paginate %>