<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
    <% @users.each do |user| %>
        <li>
            <div class="img-users-list">
                <%= get_img(user) %>
            </div>
            <p><%= user.name %> <span><%= link_to "follow", '#', class: "badge badge-secondary" %></span></p>
        </li>
    <% end %>
</ul>

<%= will_paginate %>