<%= render 'shared/error_messages' %>

<h1>All users</h1>

<%= will_paginate %>

<ul class="users list-group">
    <% @users.each do |user| %>
        <% if !current_user?(user) %>
            <li class="list-group-item">
                <div class="img-users-list">
                    <%= get_img(user) %>
                </div>
                <p>
                    <%= user.name %> <span><%= link_to "follow", '#', class: "badge badge-secondary" %></span>
                    <% if current_user.admin? %>    
                        <span> 
                            <%= 
                                link_to (
                                    if (user.admin?)
                                        "remove admin"
                                    else
                                        "add as admin"
                                    end 
                                ), set_admin_user_path(user) , method: :patch, class: "badge badge-info" 
                            %>
                        </span>
                    <% end %>
                </p>
            </li>
        <% end %>
    <% end %>
</ul>

<%= will_paginate %>