<div class="row"> 
    <div class="center jumbotron headboard">
        <%= render 'shared/user_info'%>
        <%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-primary" %>
    </div>
    <div class="center">
        <nav class="navbar prof-nav">
            <ul class="nav navbar-nav">
                <li><%= link_to "Learned Words", '#'%></li>
                <li><%= link_to "Followers", '#'%></li>
                <li><%= link_to "Following", '#'%></li>
            </ul>
        </nav>
    </div>
    <div class="center">
        User Activities
    </div>
</div>
