<%= form_for([@lesson, @answer]) do |f| %>
   <%= render 'shared/error_messages', object: @answer %>

    <div class="row jumbotron">
        <h2>
            <%= @lesson.category.title %> <span class="float-right"><%= @progress.to_s + " of " + @lesson.category.words.length.to_s %></span>
        </h2>

        <div class="col-lg-5">
            <h4 class="center"><%= @word.content %></h4>
            <%= f.hidden_field :word_id, value: @word.id %>
        </div>

        <div class="col-lg-5 col-md-offset-2">
            <% @word.choices.each do |choice| %>
                <%= f.label :choice_id, choice.content, value: choice.id, class: 'form-control center btn btn-primary' %>
                <%= f.radio_button :choice_id, choice.id, onchange: 'this.form.submit();' %>
            <% end %>
        </div>
    </div>
<% end %>