<div class="row"> 
    <%= render 'shared/headboard', user: @user %>
    <%= render 'shared/profile_nav', user: @user %>
    <div>
        <h1 class="center">Words Learned</h1>

        <%= will_paginate %>
        
        <table class="table">
            <thead>
                <tr>
                    <th colspan="1"></th>
                    <th>Word</th>
                    <th>User's Answer</th>
                    <th>Correct Answer</th>
                </tr>
            </thead>
            <tbody>
                <% @lessons.where.not(result: nil).each do |lesson| %>
                    <tr>
                        <th class="center info" colspan="4"><h4><strong><%= lesson.category.title %></strong></h4></th>
                    </tr>
                    <% lesson.answers.each do |answer| %>
                        <tr>
                            <td class="correct">
                                <% if answer.choice.correct? %>
                                    <i class="glyphicon glyphicon-ok-circle"></i>
                                <% else %>
                                    <i class="glyphicon glyphicon-remove-circle"></i>
                                <% end %>
                            </td>
                            <td><h4><%= answer.word.content %></h4></td>
                            <td><h4><%= answer.choice.content %></h4></td>
                            <td><h4><%= answer.word.choices.where(correct: true).first.content %></h4></td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>

        <%= will_paginate %>
    </div>
</div>