<h1>Categories</h1>
<%= link_to "Add Category", new_admin_category_path, class: 'btn btn-primary' %>

<%= will_paginate %>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
            <tr>
                <td><%= link_to category.title, [:admin, category] %></td>
                <td><%= category.description %></td>
                <td><%= link_to "Add Word", new_admin_category_word_path(category), class: 'btn btn-primary' %></td>
                <td><%= link_to "Edit", edit_admin_category_path(category) , class: 'btn btn-success' %></td>
                <td><%= link_to "Delete", [:admin, category], method: :delete, data: {confirm: "Are you sure you want to delete this category?"},class: 'btn btn-danger' %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate %>