<h1>Categories</h1>

<%= will_paginate %>

<ul class="list-group">
    <% @categories.each do |category| %>
        <li class="list-group-item">
            <div class="c1">
                <h3><%= category.title %></h3>
                <p><%= category.description %></p>
            </div>
            <div class="c2">
                <%= link_to "Start", lessons_path(category_id: category.id, user_id: current_user.id), method: :post, class: 'btn btn-primary float-right' %>
            </div>
        </li>
    <% end %>
</ul>

<%= will_paginate %>